
<div class="card-category">
<table >

  <tbody>
    <tr> <td>Enter name of cocktail </td></tr>
    <%= simple_form_for @cocktail do |f| %>

    <tr>
      <td> <%= f.input :name %> </td>
      <!-- <td> <%= f.text_field :name %> </td> -->
    </tr>

    <tr>
      <td> <%= f.submit 'Enter the details' %> </td>
      <td><%= link_to "Back to list ", cocktails_path, class: 'btn btn-primary' %></td>
    </tr>

<% end %>
</tbody>
</table>

</div>
